.container{
  font-family: 'Crafty Girls', cursive;
  background-image: url(paper.jpg);
  background-size: cover;
  width: 600px;
  height: 700px;
  display: inline-block;
  margin-left: 25%;
  text-align: center;
  border-style: groove;
  border-color: black;
}

 .container #title{
  font-size: 2.5em;
  margin: 8% 8% 0 19%;
}

.container #name {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5em;
  float: right;
  margin-top: .7%;
  margin-right: 5px;
  margin-bottom: 0;

}

.container #rules{
  font-size: 1.25em;
  margin:9% 3% 0 20%;
  line-height: 2.4;
  text-align: justify;
  text-indent: 40px;
}

button #rock{
  background-color: red;
  background-image: url(rock.jpg);
  width: 20px;
  height: auto;

}
button #paper2{
  background-image: url(paper2.jpg);
  width: 20px;
  height: auto;
}
button #scissors{
  background-image: url(scissors.jpg);
  width: 20px;
  height: auto;
}
.buttons {
  margin-left: 12%;
}
.buttons img {
  border-style: ridge;
  border-color: black;
  border-width: thin;
  width: 55px;
  height: auto;
  margin-right: 5%;
  margin-top: -7%;

  }

img #scissors {
  width: 60px;
  height: 75px;
}

.counter{
    margin-top: 7%;
    margin-left: 15%;
}

.counter p{
  display: inline;
  text-align: center;
  font-size: 1.5em;
  margin-right: 2%;
  }
